.footer > div {
  margin-top: 10em;
  /* padding: 5em 2em; */
}

.footer {
  /* border-radius: 40px;
    background: #FFFFFF;     
    background: -webkit-linear-gradient(to left, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to left, #2980B9, #6DD5FA, #FFFFFF); */
}

.footer-header div {
  /* font-family: 'Limelight', cursive; */
  font-family: 'Abril Fatface', cursive;
  font-family: 'Sacramento', cursive;
  font-weight: 900;
  font-size: 1.3em;
}

.copyrightDiv {
  font-size: 1.5em;
}

.footer-logo {
  width: 37em;
}

.w-30{
  width: 23% !important;
}

.star{
  animation: starMovement 2s infinite ease-in-out;
}

.star-1{
  animation-duration: 2s;
}

.star-3{
  animation-duration: 2.5s;
}

.star-2{
  animation-duration: 3s;
}

@keyframes starMovement {
  50%{
    transform: translate(0, -5px);
  }
}

.footer-social {
  font-size: 0.23em;
}

.footer-social-div{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 40%;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: footerIconMovement 2s infinite ease-in-out;
}

#footer-mail{
  background-color: #F7A000;
  animation-duration: 2.5s;
}

#footer-mail:hover{
  color: #F7A000;
  background: white;
}

#footer-linkedin{
  background-color: #0077b5;
  animation-duration: 2s;
}

#footer-linkedin:hover{
  color: #0077b5;
  background: white;
}

#footer-twitter{
  background-color: #1DA1F2;
  animation-duration: 2.5s;
}

#footer-twitter:hover{
  color: #1DA1F2;
  background-color: white;
}

.footer-shadow{
  width: 1.2em;
  height: 0.3em;
  background: gray;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(3px);
  animation: footerShadowMovement 2s infinite ease-in-out;
}

.footer-shadow-1{
  animation-duration: 2.5s;
}

.footer-shadow-2{
  animation-duration: 2s;
}

.footer-shadow-3{
  animation-duration: 2.5s;
}

@keyframes footerIconMovement {
  50%{
    transform: translate(0, -2px);
  }
}

@keyframes footerShadowMovement {
  50%{    
    filter: blur(5px);
  }
}